*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: hsl(47, 88%, 63%);
    --cor-de-fundo-padding:hsl(0, 0%, 100%);
    --cor-de-paragrafo-2:hsl(0, 0%, 42%);
    --cor-de-paragrafo-3:hsl(0, 0%, 7%);
}

body{
    height: 100vh;
    background-color: var(--cor-de-fundo);
    align-items:center;
    margin: 40px 4%;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-de-fundo-padding);
    margin: 0 38%;
    padding: 13px;
    border-radius:15px;
    border: 1px solid black;
    box-shadow: 7px 7px 0 0px black;
}

.img img{
    border-radius: 15px;
    width: 100%;

}

.texto{
    padding: 20px 0;
}

.texto p {
    font-size: 16px;
    color: var(--cor-de-paragrafo-3);
    padding: 10px 0;
}

.texto .Learning{
    color: var(--cor-de-paragrafo-3);
    font-weight: 700;
    padding: 5px;
    margin-right: 70%;
    border-radius: 5px;
    background-color: var(--cor-de-fundo);
}
.texto .language{
    color:var(--cor-de-paragrafo-2)
}


.imagem-greg{
    display: flex;
    gap:10px;
   
}


.imagem-greg img{
    width: 30px;
}

/* FOOTER */

.attribution{
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f050;
    text-align: center;
    padding: 8px;
    
}

@media (max-width:1300px){
    section{ 
        margin: 0 35%;

    }
    
}

@media (max-width: 600px ){
    section{
        margin: 0 18%;
    }
}



